// * {
//   box-sizing: border-box;
//   margin: 0;
//   padding: 0;
// }

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: auto;
  background-color: #920000;
}

.headerTitle {
  width: 100%;
  text-align: center;
  color: white;
  font-family: Merriweather;
  font-size: 68px;
}

.headerSubtitle {
  width: 100%;
  text-align: center;
  color: white;
  font-family: Merriweather;
  font-size: 28px;
}

@media (max-width: 720px){
  .headerTitle {font-size: 46px;}
  .headerSubtitle {font-size: 24px;}
}

@media (max-width: 550px){
  .headerTitle {font-size: 46px;}
  .headerSubtitle {font-size: 18px;}
}

@media (max-width: 412px){
  .headerTitle {font-size: 46px;}
  .headerSubtitle {font-size: 14px;}
}
@media (max-width: 320px){
  .headerTitle {font-size: 46px;}
  .headerSubtitle {font-size: 12px;}
}
/***GreetingImage***/
.greetingImage {
  position: fixed;
  margin-top: 0; 
  margin-left: 0;
  min-width: 100%;
  min-height: 100%;
}




/***NavBar***/
.navbar {
  background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
  height: 80px;
  display: flex;
  justify-content: left;
  align-items: left;
  font-size: 1.2rem;
  padding: 20px;
}
